@{
    ViewData["Title"] = "Registro Nueva Enfermedad";
}
@{
    Layout = "_Layout_interno";
}
@model WebApplication_Proyecto_I.Controllers.Referencia_Interna_Modelos;
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/general.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dos_columnas.css" />
</head>
   
<body onload="primera_vez()">
    @{

        @Html.Raw(@TempData["Alert-Alert"]);
    }
    <!--
    <div class="contenedor-flechas"><div class="contenedor-izquierda" onclick="a_la_izquierda()">◀</div><div class="leyenda-flechas">Paso 1 de 3</div> <div class="contenedor-derecha" onclick="a_la_derecha()">▶</div></div>
    -->
    <div class="contenedor-flechas"><div class="leyenda-flechas">Paso null de null</div><div class="contenedor-derecha" onclick="a_la_derecha2()">Saltar ▶</div></div>
    
    @{
        switch (@TempData["numero_pantalla"])
        {
            case 0:
                
            <!--profesional-->
                <div class="contenedor-columna">
                    <input class="contador_record" value="@TempData["contador_de_record"]"/>
                    <input class="contador_codigo" value="@TempData["Codigo_Unico"]" />
                    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="1" asp-route-codigounico="@TempData["Codigo_Unico"]">
                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Profesional</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Identificacion Profesional</label>
                                <input runat="server" asp-for="registro_profesional.Identificacion_Profesional" class="input-valor border-hijo" id="" value="" type="number" onkeyup="consulta_Obtener(0); recortar(this,9); check_Empty(); " required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Codigo Profesional</label>
                                    <input runat="server" asp-for="registro_profesional.Codigo_Profesional" class="input-valor border-hijo" id="" value="" type="number" onkeyup="consulta_Obtener(0); check_Empty()" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Nombre Completo Profesional</label>
                                    <input runat="server" asp-for="registro_profesional.Nombre_Completo_Profesional" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                        </div>

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Profesional</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Correo Electronico Profesional</label>
                                    <input runat="server" asp-for="registro_profesional.Correo_Electronico_Profesional" class="input-valor border-hijo" id="" runat="server" value="" type="email" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Pais Residencia Profesional</label>
                                <select runat="server" asp-for="registro_profesional.Pais_Residencia_Profesional" class="tag-select color-select paises" id="" runat="server" value="" onchange="llenar_provincia(0); check_Empty()" maxlength="300" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Estado/Provincia Residencia Profesional</label>
                                    <select runat="server" asp-for="registro_profesional.Estado_Provincia_Residencia_Profesional" class="tag-select color-select provincias" id="" value="" onchange="check_Empty()" maxlength="300" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                        </div>

                        <input class="button-to-submit" type="submit" value="Guardar" />
                    </form>
                </div>
                break;
            case 1:
        
            <!--clinica-->
                <div class="contenedor-columna">
                    <input disabled class="contador_record" value="@TempData["contador_de_record"]" />
                    <input class="contador_codigo" value="@TempData["Codigo_Unico"]" />
                    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="2" asp-route-codigounico="@TempData["Codigo_Unico"]">
                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Clinica</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Cedula Juridica Clinica</label>
                                <input runat="server" asp-for="registro_clinica.Cedula_Juridica_Clinica" class="input-valor border-hijo" id="" runat="server" value="" type="number" onkeyup="consulta_Obtener(1); check_Empty()" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Nombre Clinica</label>
                                <input runat="server" asp-for="registro_clinica.Nombre_Clinica" class="input-valor border-hijo" id="" runat="server" value="" type="text" onkeyup="consulta_Obtener(1); check_Empty()" maxlength="300" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Telefono Administracion Clinica</label>
                                <input runat="server" asp-for="registro_clinica.Telefono_Administracion_Clinica" class="input-valor border-hijo" id="" runat="server" value="" type="number" onkeyup="recortar(this,8); check_Empty();" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Correo Electronico Administracion</label>
                                <input runat="server" asp-for="registro_clinica.Correo_Electronico_Administracion" class="input-valor border-hijo" id="" runat="server" value="" type="email" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                        </div>

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Clinica</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Pais Residencia Clinica</label>
                                <select runat="server" asp-for="registro_clinica.Pais_Clinica" class="tag-select color-select paises" id="" runat="server" value="" onchange="llenar_provincia(0); check_Empty();" maxlength="300" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Estado/Provincia Clinica</label>
                                <select runat="server" asp-for="registro_clinica.Estado_Provincia_Clinica" class="tag-select color-select provincias" id="" runat="server" value="" onchange="check_Empty()" maxlength="300" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Distrito Clinica (Opcional)</label>
                                <select runat="server" asp-for="registro_clinica.Distrito_Clinica" class="tag-select color-select distrito" id="" runat="server" value="" onchange="check_Empty()" maxlength="300">
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Sitio Web Clinica</label>
                                <input runat="server" asp-for="registro_clinica.Sitio_Web" class="input-valor border-hijo Web" id="" runat="server" value="" type="text" onkeyup="check_Empty(); checkear_si_pagina_esta_online()" maxlength="300" required />
                            </div>
                        </div>

                        <input  class="button-to-submit" type="submit" value="Guardar" />
                    </form>
                </div>
                break;
            case 2:
             
            <!--paciente-->
                <div class="contenedor-columna">
                    <input disabled class="contador_record" value="@TempData["contador_de_record"]" />
                    <input class="contador_codigo" value="@TempData["Codigo_Unico"]" />
                    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="3" asp-route-codigounico="@TempData["Codigo_Unico"]">

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Paciente</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Identificacion Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Identificacion_Paciente" class="input-valor border-hijo" id="" value="" type="number" onkeyup="consulta_Obtener(2); recortar(this,9); check_Empty(); " required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Nombre Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Nombre_Paciente" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Primer Apellido Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Primer_Apellido_Paciente" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Segundo Apellido Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Segundo_Apellido_Paciente" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Fecha Nacimiento Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Fecha_Nacimiento_Paciente" readonly class="input-date border-hijo" id="" value="" type="text" onchange="check_Empty()" required />
                                <input class="input-date-date border-hijo" id="" value="" type="date" onchange="actualizar_fecha(0,'input-date border-hijo','input-date-date border-hijo')" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Telefono Contacto Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Telefono_Contacto_Paciente" class="input-valor border-hijo" id="" value="" type="number" onkeyup="recortar(this,8); check_Empty(); " required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Correo Electronico Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Correo_Electronico_Paciente" class="input-valor border-hijo" id="" value="" type="email" onkeyup="check_Empty()" maxlength="300" required />
                            </div>
                        </div>

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Paciente</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Fecha Registro</label>
                                <input runat="server" asp-for="registro_paciente.Fecha_Registro" readonly class="input-date border-hijo" id="" runat="server" value="" type="text" onchange="check_Empty()" required />
                                <input disabled class="input-date-date border-hijo" id="" runat="server" value="" type="date" onchange="actualizar_fecha(1,'input-date border-hijo','input-date-date border-hijo')"/>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Ocupacion Paciente</label>
                                <input runat="server" asp-for="registro_paciente.Ocupacion_Paciente" class="input-valor border-hijo" id="" runat="server" value="" type="text" onkeyup="check_Empty()" required />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Pais Residencia Paciente</label>
                                <select runat="server" asp-for="registro_paciente.Pais_Paciente" class="tag-select color-select paises" id="" runat="server" value="" onchange="check_Empty();  llenar_provincia(0)" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Estado/Provincia Paciente</label>
                                <select runat="server" asp-for="registro_paciente.Estado_Provincia_Paciente" class="tag-select color-select provincias" id="" runat="server" value="" onchange="check_Empty()" maxlength="300" required>
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Distrito Paciente (Opcional)</label>
                                <select runat="server" asp-for="registro_paciente.Distrito_Paciente" class="tag-select color-select distrito" id="" runat="server" value="" onchange="check_Empty()" maxlength="300">
                                    <option value="---">---</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Genero Paciente</label>
                                <select runat="server" asp-for="registro_paciente.Genero_Paciente" class="tag-select color-select" id="" runat="server" value="" onchange="check_Empty()" maxlength="1" required>
                                    <option value="---">---</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Estado Civil Paciente</label>
                                <select runat="server" asp-for="registro_paciente.Estado_Civil_Paciente" class="tag-select color-select" id="" runat="server" value="" onchange="check_Empty()" maxlength="300" required>
                                    <option value="---">---</option>
                                    <option value="Soltero">Soltero</option>
                                    <option value="Casado">Casado</option>
                                    <option value="Union Libre">Union Libre</option>
                                    <option value="Viudo">Viudo</option>
                                </select>
                            </div>
                        </div>

                        <input class="button-to-submit" type="submit" value="Guardar" />
                    </form>
                </div>
                break;
            case 3:
      
            <!--inyecciones-->
                <div class="contenedor-columna">
                    <input disabled class="contador_record" value="@TempData["contador_de_record"]" />
                    <input class="contador_codigo" value="@TempData["Codigo_Unico"]" />
                    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="4" asp-route-codigounico="@TempData["Codigo_Unico"]">
                        <input runat="server" asp-for="registro_inyecciones.Identificacion_Paciente" class="contador_record" value="@TempData["cedula_Paciente"]" />
                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Inyecciones</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Tiene la vacuna de Sarampión/Rubeola/Parotiditis?</label>
                                <select runat="server" asp-for="registro_inyecciones.Sarampión_Rubeola_Parotiditis" class="tag-select color-select" id="" runat="server" value="" onchange="check_Empty()" maxlength="40" required>
                                    <option value="---">---</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Tiene la vacuna del Tétano/Hepatitis A o B/Influenza?</label>
                                <select runat="server" asp-for="registro_inyecciones.Tetano_Hepatitis_A_B_Influenza" class="tag-select color-select" id="" runat="server" value="" onchange="check_Empty()" maxlength="40" required>
                                    <option value="---">---</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Inyecciones</label>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Tiene la vacuna del Covid?</label>
                                <select runat="server" asp-for="registro_inyecciones.Vacuna_Covid" class="tag-select color-select" id="" runat="server" value="" onchange="cambiar_requerido(this); check_Empty()" maxlength="2" required>
                                    <option value="---">---</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Cuántas dosis tiene?</label>
                                <input runat="server" asp-for="registro_inyecciones.Cuantas_Dosis" class="input-valor border-hijo si" id="" runat="server" value="" type="number" onkeyup="check_Empty()" />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Razón de no poseer vacuna COVID</label>
                                <input runat="server" asp-for="registro_inyecciones.Razon_Covid" class="input-valor border-hijo no" id="" runat="server" value="" type="text" onkeyup="check_Empty()" maxlength="300" />
                            </div>
                        </div>

                        <input class="button-to-submit" type="submit" value="Registrar" />
                    </form>
                </div>
                break;
            case 4:
       
            <!--sintomas-->
                <div class="contenedor-columna">
                    <input disabled class="contador_record" value=@TempData["contador_de_record"] />
                    <input class="contador_codigo" value="@TempData["Codigo_Unico"]" />
                    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="5" asp-route-codigounico="@TempData["Codigo_Unico"]">
                        <input runat="server" asp-for="registro_sintomas.Identificacion_Paciente" class="contador_record" value="@TempData["Cedula_Paciente"]" />
                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Sintomas</label>
                            <div class="container-leyenda"><label class="leyenda-titulo">Sintomas</label></div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C0" class="checkbox-valor" id="" runat="server" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Visita al médico o a la consulta de otro profesional de la salud</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C1" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Visita a la sala de emergencias o al centro de atención urgente</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C2" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Hospitalización</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C3" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Hospitalización prolongada</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C4" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad que pone en peligro la vida</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C5" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Incapacidad o daño permanente</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C6" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Paciente fallecido</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C7" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Anomalía congénita o defecto de nacimiento</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C8" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Aborto espontáneo o nacimiento sin vida</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C9" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Ninguna de las anteriores</label>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Qué síntomas presenta?</label>
                                <input runat="server" asp-for="registro_sintomas.T0" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" />
                            </div>
                            <div class="container-leyenda"><label class="leyenda-titulo">¿Alergias conocidas?</label></div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C10" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Medicamentos</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C11" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Polietilenglicol</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C12" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Alimentos</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C13" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Medio ambiente</label>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Otras Alergias</label>
                                <input runat="server" asp-for="registro_sintomas.T1" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" />
                            </div>

                            <div class="container-leyenda"><label class="leyenda-titulo">¿Ha tenido alguno de los siguientes síntomas?</label></div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C14" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Síntomas de COVID o Enfermedad de COVID</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C15" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Disminución del bienestar</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C16" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Disminución del estado de salud</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C17" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Fatiga extrema</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C18" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Incapacidad para participar en actividades rutinarias</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C19" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Pérdida de energía</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C20" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Dolor inexplicable</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C21" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Debilidad</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C22" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Fiebre inexplicable</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C23" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Sensaciones corporales inexplicables</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C24" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Sudores nocturnos</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C25" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Sofocos</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C26" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Intolerancia al frío</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C27" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Intolerancia al calor</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C28" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Sensibilidad a los cambios de temperatura</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C29" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Cambio en la capacidad de caminar</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C30" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Cambio en el pensamiento</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C31" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Ya no me siento como antes</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C32" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Aumento de peso inexplicable</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C33" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Pérdida de peso inexplicable</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C34" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Sueño fragmentado</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C35" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">No puedo dormir</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C36" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Insomnio</label>
                            </div>
                        </div>

                        <div class="contenedor-fila border-padre">
                            <label class="contenedor-titulo color-titulo-padre">Datos Sintomas</label>

                            <div class="container-leyenda"><label class="leyenda-titulo">Nuevas enfermedades presentadas en un lapso de cinco años o menos</label></div>

                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C37" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad de Addison</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C38" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Alergias</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C39" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Arritmias</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C40" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Fibrilación auricular</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C41" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Vasculitis autoinmune</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C42" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Parálisis de Bell (parálisis facial)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C43" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Bronquitis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C44" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Cáncer</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C45" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad celíaca (intolerancia al gluten)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C46" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad renal crónica</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C47" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Insuficiencia cardíaca congestiva</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C48" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad de Crohn</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C49" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">TVP (coágulos de sangre)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C50" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Diabetes</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C51" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Encefalitis (inflamación cerebral/dolores de cabeza)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C52" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Epilepsia (convulsiones)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C53" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedades del corazón</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C54" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Herpes tipo 1</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C55" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Herpes tipo 2</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C56" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">VIH</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C57" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Hipertensión (presión arterial alta)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C58" class="checkbox-valor border-hijo" id=""  value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad inflamatoria intestinal</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C59" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad renal aguda</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C60" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Enfermedad hepática</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C61" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Lupus</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C62" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Aborto espontáneo</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C63" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Esclerosis múltiple</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C64" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Miastenia gravis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C65" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Infarto de miocardio (ataque al corazón)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C66" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Miocarditis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C67" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Osteoartritis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C68" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Pericarditis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C69" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Anemia perniciosa</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C70" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Neumonía</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C71" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Parto prematuro</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C72" class="checkbox-valor border-hijo" id=""value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Psoriasis</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C73" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Artritis psoriásica</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C74" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Embolia pulmonar</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C75" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Artritis reumatoide</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C76" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Herpes zóster</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C77" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Síndrome de Sjogren</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C78" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Nacimiento sin vida</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C79" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Accidente cerebrovascular</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C80" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Ataques isquémicos transitorios (AIT)</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C81" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Trastorno de la tiroides</label>
                            </div>
                            <div class="contenedor-datos">
                                <input runat="server" asp-for="registro_sintomas.C82" class="checkbox-valor border-hijo" id="" value="" type="checkbox" onclick="check_Empty()" />
                                <label class="titulo-checkbox-valor color-padre">Colitis ulcerosa</label>
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">Otros Sintomas</label>
                                <input runat="server" asp-for="registro_sintomas.C83" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" />
                            </div>
                            <div class="contenedor-datos">
                                <label class="titulo-valor color-padre">¿Si ha desarrollado un nuevo cáncer o la reaparición de un cáncer existente,especifique el tipo de cáncer?</label>
                                <input runat="server" asp-for="registro_sintomas.T2" class="input-valor border-hijo" id="" value="" type="text" onkeyup="check_Empty()" maxlength="300" />
                            </div>
                        </div>

                        <input class="button-to-submit" type="submit" value="Registrar" />
                    </form>
                </div>
                break;
            case 5:

            <!--reporte-->
                <div class="contenedor-reporte">
                    <input disabled class="contador_record" value=@TempData["contador_de_record"] />
                    <div class="reporte-leyenda">Reporte de registro</div>  
                    <div class="reporte-contenido">@Html.Raw(@ViewBag.reporte)</div>
                </div>
                break;
            default: break;
        }
    }
    

    
   

    

    
</body>
</html>
